header {
    background-color: #FFCC99;
    box-shadow: 0px 5px 10px #a41bdf;
}

main {
    background-color: #E6F2FF;
}

aside { 
    background-color: #B3D9FF;
    flex: 1;
    border: 1px solid #CCC;
}

footer {
    background-color: #99CC99;
    box-shadow: 0px 5px 10px #a41bdf;
    border: 1px solid #CCC;
}

h1 {
    font-weight: bold;
    text-align: center;
}

main {
    margin: 20px;
    display: flex;
}

section {
    margin: 20px;
    display: flex;
    flex: 3;
}
